.header__nav {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column: 2;
  z-index: 5;
  align-self: center;
  justify-items: end;
  width: 100%;
  overflow: hidden;
  gap: 8rem;
  clip-path: polygon(
    calc(100% - 28.2vw) 0,
    100% 0,
    100% 100%,
    calc(100% - 38.8vw) 100%
  );

  &-1 {
    align-self: end;
  }

  &-2 {
    align-self: start;
  }

  &::before {
    @include before-after-lines;
    clip-path: polygon(1% 0, 48% 0, 48% 1%, 0 1%);
    background-color: $color-neon-green;
    z-index: -1;
    transform: translate(-15%, 39%);
  }

  &::after {
    @include before-after-lines;
    clip-path: polygon(1% 0, 55% 0, 55% 1%, 0 1%);
    background-color: $color-neon-green;
    z-index: -1;
    transform: translate(-21%, 61%);
  }
}
