.header__nav {
  padding-top: 21rem;
  position: relative;
  @include grid-3-rows;
  grid-column: 3;
  z-index: 5;
  align-self: center;
  gap: 5rem;
  width: 80%;

  &::before {
    @include before-after-lines;
    clip-path: polygon(1% 0, 48% 0, 48% 1%, 0 1%);
    background-color: $color-neon-green;
    z-index: -1;
    transform: translate(-35%, 46%);
  }

  &::after {
    @include before-after-lines;
    clip-path: polygon(1% 0, 55% 0, 55% 1%, 0 1%);
    background-color: $color-neon-green;
    z-index: -1;
    transform: translate(-43%, 69%);
  }
}
