// GENERAL MIXINS

@mixin grid--3-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@mixin grid-2-rows {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}

@mixin page-layout {
  position: relative;
  width: 80vw;
  height: 70vh;
  min-height: 74rem;
}

@mixin base-layout {
  padding: 2rem;
  height: 70vh;
  min-height: 74rem;
  width: 100%;
  height: 100%;
  display: grid;
  background-image: linear-gradient(
    108deg,
    rgba($color-header-green-dark, 0.92) 50%,
    rgba($color-header-green-light, 0.7)
  );
  border-radius: $component-radius;
  border: $border;
  box-shadow: $box-shadow;
}

@mixin main-buttons {
  background-color: rgba($color-board, 0.8);
  text-align: center;
  box-shadow: $box-shadow;
  text-decoration: none;
  transition: 0.3s;
  color: $color-grey;
}

@mixin before-after-lines {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

@mixin center-lines {
  &::before {
    @include before-after-lines;
    z-index: 1000;
    clip-path: polygon(
      calc(100% - 39.6vw) 100%,
      calc(100% - 28.9vw) 0,
      calc(100% - 29.3vw) 0,
      calc(100% - 40vw) 100%
    );
    background-color: $color-neon-green;
  }

  &::after {
    z-index: 1000;
    @include before-after-lines;
    transform: translateX(-1.5%);
    clip-path: polygon(
      calc(100% - 39.6vw) 100%,
      calc(100% - 28.9vw) 0,
      calc(100% - 29.1vw) 0,
      calc(100% - 39.8vw) 100%
    );
    background-color: $color-neon-pink;
  }
}

// HOME PAGE MIXINS

@mixin board-text-luminosity {
  position: absolute;
  mix-blend-mode: luminosity;
  text-shadow: 0 0rem 0.5rem rgba(256, 256, 256, 1);
}

@mixin button-main-active {
  background-color: $color-board;
  transform: translateY(-0.5rem);
}

// PROJECT PAGE MIXINS

@mixin project-layout {
  display: grid;
  height: 100%;
  grid-template-columns: 100fr 58fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;

  & img {
    width: 110%;
    align-self: center;
    justify-self: center;
    grid-column: 1;
  }
  & h3,
  & p {
    grid-column: 2;
    grid-row: 1;
    align-self: start;
    padding: 14rem 2rem 0 4rem;
    padding-left: 4rem;
    padding-right: 2rem;
  }

  & p {
    margin-top: 4rem;
  }
}

@mixin project-nav-arrow {
  position: absolute;
  width: 9vw;
  max-width: 9rem;
  bottom: 5%;

  filter: invert(49%) sepia(5%) saturate(1221%) hue-rotate(166deg)
    brightness(89%) contrast(82%) drop-shadow(0px 1px 1px rgb(0, 0, 0/ 0.3));

  &:hover {
    filter: invert(91%) sepia(83%) saturate(5455%) hue-rotate(86deg)
      brightness(100%) contrast(102%) drop-shadow(0px 1px 1px rgb(0, 0, 0/ 0.3));
  }
}

// CONTACT PAGE MIXINS
