@mixin grid--3-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
@mixin grid-3-rows {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

@mixin grid-2-rows {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}

@mixin page-layout {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80vw;
  min-height: 70vh;
}

@mixin base-layout {
  padding: 2rem;
  background-image: linear-gradient(
    108deg,
    rgba($color-header-green-dark, 0.92) 50%,
    rgba($color-header-green-light, 0.7)
  );
  border-radius: $component-radius;
  border: $border;
  box-shadow: $box-shadow;
}

@mixin board-text-luminosity {
  position: absolute;
  mix-blend-mode: luminosity;
  text-shadow: 0 0rem 0.5rem rgba(256, 256, 256, 1);
}

@mixin button-main-active {
  background-color: $color-board;
  transform: translateY(-0.5rem);
}

@mixin secondary-page-header {
  font-size: 5rem;
  color: $color-header-primary;
  text-transform: uppercase;
  letter-spacing: $letterspacing-header-section;
}

@mixin before-after-lines {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

@mixin project-layout {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;

  & img {
    width: 80%;
    grid-column: 1;
    justify-self: start;
    padding-left: 2rem;
  }
  & h3,
  & p {
    grid-column: 2;
    grid-row: 1;
    align-self: start;
    padding-left: 4rem;
    padding-right: 2rem;
  }

  & p {
    padding-top: 4rem;
  }
}
