$font-header: "Oswald", sans-serif;
$font-primary: "Roboto", sans-serif;

$component-radius: 10px;

$color-board: #0b124e;
$border: 1px solid #495057;
$box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);

// colors
$color-header-green-dark: #271575;
$color-header-green-light: #26a9e0;

$color-neon-green: #00ffcc;
$color-neon-pink: #ff00ff;

$color-header-primary: #d1ecf2;
$color-grey: #697681e3;

$color-board-shine: #d1ecf2;
$color-text-shadow: #0b124e;

// font sizing
$font-size-board: 5rem;
$font-size-text: 1.6rem;

$letterspacing-header-section: -2;

// padding contact page

$padding-left-info: 5rem;
