//----------------------------------//
//         header board             //
//----------------------------------//
.board {
  border-radius: $component-radius;
  background-color: $color-board;
}

//----------------------------------//
//         b       //
//----------------------------------//
.btn__nav:link,
.btn__nav:visited {
  @include main-buttons;
  padding: 2rem 11rem 2rem 19rem;
  min-width: 30rem;
  clip-path: polygon(13% 0, 100% 0, 100% 100%, 32% 100%);
  margin-right: 8rem;
}

.header__nav {
  z-index: 20;
  & a:nth-of-type(odd):hover {
    color: $color-neon-green;
    @include button-main-active;
  }
  & a:nth-of-type(odd):active {
    transform: translateY(0.1rem);
  }

  & a:nth-of-type(even):hover {
    color: $color-neon-pink;
    @include button-main-active;
  }

  & a:nth-of-type(even):active {
    transform: translateY(0.1rem);
  }
}

.btn-secondary:link,
.btn-secondary:visited {
  position: absolute;
  @include main-buttons;
  clip-path: polygon(13% 0, 100% 0, 100% 100%, 32% 100%);
  min-width: 28rem;
  padding: 2rem 3rem 2rem 7rem;
  border-radius: $component-radius;
}

.btn-secondary:hover {
  transform: translateY(-0.3rem);
}

.btn-secondary:active {
  transform: translateY(0.1rem);
}

.contact__page-info-cv a:hover {
  color: $color-neon-green;
}

.contact__page-info-pt a:hover {
  color: $color-neon-pink;
}
