// -----------------------------------//
//              general               //
// -----------------------------------//

.header-secundary {
  font-size: 5rem;
  color: $color-header-primary;
  text-transform: uppercase;
  letter-spacing: $letterspacing-header-section;
}

.logo {
  filter: invert(100%) sepia(10%) saturate(5410%) hue-rotate(165deg)
    brightness(86%) contrast(124%);
  color: white;
  width: 3rem;
}

// -----------------------------------//
//              first page            //
// -----------------------------------//
.header {
  font-family: $font-header;

  &__text-board {
    &-primary {
      font-family: "Roboto", sans-serif;
      font-size: 14rem;
      letter-spacing: -10;
      font-weight: 700;
      text-transform: uppercase;
      text-shadow: -1.1rem 0.7rem 1rem rgba(0, 0, 0, 0.4);
    }
    &-board-1 {
      color: rgba($color-grey, 0.8);
      font-size: $font-size-board;
      transform: translate(5%, 15%);
      text-transform: uppercase;
    }
    &-board-2 {
      color: rgba($color-grey, 0.8);
      font-size: $font-size-board;
      transform: translate(5%, -22%);
      font-weight: 300;
    }

    &-board-3 {
      transform: translate(9%, -50%);
      // color: $color-board-shine;
      color: rgba($color-grey, 0.8);
      font-size: $font-size-board;
      top: 35%;
      opacity: 0.6;
      text-transform: uppercase;
      @include board-text-luminosity;
    }
    &-board-4 {
      // color: $color-board-shine;
      color: rgba($color-grey, 0.8);
      font-size: $font-size-board;
      transform: translate(9%, -122%);
      font-weight: 300;
      opacity: 0.5;
      @include board-text-luminosity;
    }
  }
}
.board-shadow-green {
  text-shadow: 1rem 1rem 2rem rgba($color-neon-green, 0.25);
  color: $color-neon-green;
}
.board-shadow-pink {
  text-shadow: 1rem 1rem 2rem rgba($color-neon-pink, 0.6);
  color: $color-neon-pink;
}

.btn__nav {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
}

// -----------------------------------//
//              ME POPUP              //
// -----------------------------------//

.me {
  &__popup {
    &-btn-close:link,
    &-btn-close:active {
      color: $color-header-primary;
      font-size: 2rem;
      text-decoration: none;
    }

    &-header {
      margin-bottom: 10px;
      text-align: center;
      text-transform: uppercase;
      font-family: $font-header;
      line-height: 1.4;
      font-size: 2.8rem;
      letter-spacing: 1.2;
    }

    &-info {
      font-size: $font-size-text;
      text-transform: uppercase;
      font-family: $font-header;
    }

    &-linkedin:link,
    &-linkedin:visited,
    &-cv:link,
    &-cv:visited,
    &-contact:link,
    &-contact:visited {
      text-transform: uppercase;
      color: $color-grey;
      text-align: center;
      text-decoration: none;
      height: 2.4rem;
    }

    &-linkedin:link,
    &-linkedin:visited {
      border-bottom: 2px solid rgba($color-neon-pink, 0.6);
    }

    &-linkedin:hover,
    &-cv:hover {
      color: $color-header-primary;
      border-color: $color-neon-pink;
      transform: skew(2deg);
    }
    &-linkedin:hover {
      border-color: $color-neon-pink;
    }

    &-cv:link,
    &-cv:visited {
      border-bottom: 2px solid rgba($color-neon-green, 0.6);
    }

    &-cv:hover {
      border-color: $color-neon-green;
    }
    &-contact:link,
    &-contact:visited {
      color: $color-header-primary;
      font-size: 2.4rem;
      border-bottom: 2px solid $color-neon-green;
      line-height: 1.4;
      letter-spacing: 1.2;
      font-weight: 800;
      height: 3.5rem;
    }
  }
}

// -----------------------------------//
//              Projects              //
// -----------------------------------//

.project__page {
  font-size: $font-size-text;
  line-height: 1.4;
  color: hsla(192, 22%, 65%, 0.806);

  & h3 {
    text-transform: uppercase;
    letter-spacing: -1;
  }
}

.contact__page {
  &-header {
    font-family: $font-header;
  }
  &-info {
    &-text {
      text-align: start;
      align-self: start;
      font-size: 1.8rem;
    }

    & a {
      color: $color-header-primary;
    }
    & a:link,
    & a:visited {
      text-decoration: none;
      color: $color-header-primary;
    }
    &-email p,
    &-phone p {
      display: inline-block;
    }
    &-cv a:link,
    &-cv a:visited,
    &-pt a:link,
    &-pt a:visited {
      color: $color-grey;
    }
  }
}
