.project__page {
  position: relative;
  @include base-layout;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 5fr;
  overflow: hidden;
  justify-items: center;
  align-items: center;
  @include center-lines;

  &-header {
    grid-row: 1;
    grid-column: 2;
  }

  &-navarrow-1 {
    left: 1%;
    @include project-nav-arrow;
    z-index: 500;
  }

  &-navarrow-2 {
    @include project-nav-arrow;
    right: 1%;
    z-index: 500;
  }
  &-navarrow-1:active {
    transform: translateY(1%);
  }

  &-navarrow-2:active {
    transform: translateY(1%);
  }

  &-projects {
    grid-row: 1/-1;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: min(70rem) 0;
    align-self: start;
    column-gap: 10rem;
    transform: translate(-125%);
  }

  &-projects-1 {
    @include project-layout;
    grid-column: 1;
    grid-row: 1;
  }

  &-projects-2 {
    @include project-layout;
    grid-column: 1;
    grid-row: 1;
    transform: translateX(125%);
  }
}

.image-clipper {
  height: 100%;
  width: 100%;
  clip-path: polygon(0 100%, 0 0, calc(100% - 1vw) 0, calc(100% - 11vw) 100%);
}
